<a href="https://colab.research.google.com/github/SagaraJC/cyp_2021/blob/main/Tarea4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Ejercicio 2.4
Sue=float(input("Sueldo "))

if(Sue<1000):
  S=((Sue*15)/100)+Sue
  print(f"Nuevo sueldo {S}")
else:
  suel=((Sue*12)/100)+Sue
  print("Su nuevo sueldo es",suel)

Sueldo 840.5
Nuevo sueldo 966.575

In [32]:
#Ejercicio 2.8
sue=float(input("Introduce tu sueldo "))
cate=int(input("Introduce tu categoría "))
if(cate==1):
  nsue=((sue*15)/100)+sue
  print("Su nuevo sueldo para la categoría",cate, "es",nsue)
if(cate==2):
  nsue=((sue*10)/100)+sue
  print("Su nuevo sueldo para la categoría",cate, "es",nsue)
if(cate==3):
  nsue=((sue*8)/100)+sue
  print("Su nuevo sueldo para la categoría",cate, "es",nsue)
if(cate==4):
  nsue=((sue*7)/100)+sue
  print("Su nuevo sueldo para la categoría",cate, "es",nsue)
if(cate<1):
  print("Esa no es una categoría válida")
if(cate>4):
    print("Esa no es una categoría válida")

Introduce tu sueldo 1100
Introduce tu categoría 6
Esa no es una categoría válida